@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arvo", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

a {
  text-decoration: none !important;
  color: white !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import url("./components/footer/footer.css");
